<!-- views/contact.ejs -->
<%- include('partials/header') %>

<div class="container mt-4">
  <h1>Contact Us</h1>
  <p>You can contact us via email: contact@website.com</p>
</div>

<%- include('partials/footer') %>
